.featured {
  height: 100vh;
}

.featured--horizontal {
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
  background: linear-gradient(to right, #111 10%, transparent 90%);
}

.logo--main {
  display: flex;
  align-items: center;
  width: 90px;
  margin-left: -28px;
}

.logo--main img {
  width: 100%;
}

.logo--main span {
  margin-left: -5px;
  font-weight: bold;
  font-size: 20px;
  color: lightgray;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.featured--name {
  font-size: 60px;
  font-weight: bold;
}

.featured--info {
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
}

.featured--description {
  margin-top: 15px;
  max-width: 40%;
}

.featured--buttons {
  margin-top: 15px;
}

.featured--watchbutton,
.featured--mylistbutton {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  padding: 15px 25px;
  border-radius: 5px;
  text-decoration: none;
  margin-right: 10px;

}

.featured--watchbutton {
  background-color: #fff;
  color: #000;
  opacity: 1;
}

.featured--mylistbutton {
  color: #fff;
  background-color: rgba(151, 146, 146, 0.673);
}

.featured--watchbutton:hover {
  opacity: .7;
}

.featured--mylistbutton:hover {
  background-color: rgba(151, 146, 146, 0.335);
}

@media (max-width: 760px) {
  .featured {
    height: 80vh;
  }

  .featured--name {
    font-size: 40px;
  }

  .featured--info {
    font-size: 16px;
  }

  .featured--description {
    font-size: 14px;
    max-width: 100%;
    margin-right: 30px;
  }

  .featured--watchbutton,
  .featured--mylistbutton {
    font-size: 16px;
  }
}



